<a class="sr-only" href="#content">Skip to main content</a>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{ site.name }}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="//twitter.com/toonverwerft">Twitter</a></li>
        <li><a href="//github.com/veewee/">Github</a></li>
        <li><a href="//www.linkedin.com/pub/toon-verwerft/36/b90/a2b">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
</header>